h1{color:rgb(95, 147, 95); text-align: center; font-family: 'Times New Roman', Times, serif;}
h2{color:tomato; text-align: left; font-family: 'Times New Roman', Times, serif;}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}